figure {
  text-align: center;
  margin: 20px 0;
}

figcaption {
    font-style: italic;
    color: #555;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  background-color: cornsilk;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}



